body{
    background-color: black;
}
@media only screen and (min-width: 990px) {
    body {
      background-color: lightblue;
    }
  }

  #staticBackdrop{
    background-image: url("../images/");
  }