body {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.loginBackground {
  background-image: url("../img/wallpaper/backgroundImageLogin.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.902;
}

#mainNavBar {

}

#mainFooter {
  
}

.signUp {
  width: 80%;
}

.responsiveRecipe {
  width: 11rem;
  height: 80%;
}

.smallScreenDisplay{
  display: none;
}
@media screen and (min-width: 800px) {

  .signUp {
    width: 40%;
  }

  .responsiveRecipe {
    width: 20rem;
    height: 40rem;
    height: 80%;
  }
  .offcanvas{
    display: none;
  }
  #offCanvasDisplay{
    display: none;
  }
}

.card {
  height: 100%;
}
