body {
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
}

.loginBackground {
  background-image: url("../img/wallpaper/backgroundimagelogin_alt.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.902;
}

#mainLogo {
  margin-top: -15px;
}

.paragrafo {
  font-size:medium;
}

.signUp {
  width: 80%;
}

#nomeQuantity {
  padding-left: 2vh;
}

#nomePrice {
  margin-right: 0vh;
  padding-left: 6vh;
}

#nomeAddedToCart {
  margin-left: 60vh;
}

.responsiveRecipe {
  width: 20rem;
  height: 80%;
}
#recipeContent{
  justify-content: center;
}
.smallScreenDisplay{
  display: none;
}

.bgList1{
  background-image: url("img/wallpaper/wallpaper_liste/wallpaper-list-1.webp");
}

.listItemHover:hover{
  background-color: rgba(201, 203, 206, 0.057);
}

  
#wrapper {
  width:500px;
  margin:0 auto;
  margin-top:40px;
}
#fileDropBox {
  margin-left:100px;
  width: 20em;
  line-height: 10em;
  border: 1px dashed gray;
  text-align: center;
  color: gray;
  border-radius: 7px;
}
@media screen and (min-width: 800px) {

  .signUp {
    width: 40%;
  }

  .responsiveRecipe {
    width: 20rem;
    height: 40rem;
    height: 80%;
  }
  .offcanvas{
    display: none;
  }
  #offCanvasDisplay{
    display: none;
  }
}

.card {
  height: 100%;
}
